body{
    background-color: antiquewhite;
}
.navbarvert{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: #39f143;

  }
  li{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover{
    background-color: aliceblue;

  }